.lesson {
  &__content {
    margin-top: 80px;
    margin-left: 34px;
    color: $color-violet-dark;
    display: flex;
    justify-content: space-between;
  }
  &__title {
    text-transform: uppercase;
    font-size: 18px;
    @include line-height;
    letter-spacing: $letter-spacing;
  }
  &__advantages {
    margin-top: 18px;
  }
  .minus-lesson {
    &__item {
      position: relative;
      &::before {
        @include absolute;
        width: 20px;
        height: 20px;
        left: -34px;
        content: "-";
        text-align: center;
        box-shadow: $box-shadow-icon;
        border-radius: 50%;
      }
    }
  }
  .plus-lesson {
    margin-top: 20px;
    &__item {
      position: relative;
      &::before {
        @include absolute;
        width: 20px;
        height: 20px;
        left: -34px;
        content: "+";
        text-align: center;
        box-shadow: $box-shadow-icon;
        border-radius: 50%;
        color: $color-orange;
      }
    }
  }
  .lesson__column:nth-child(2) {
    display: flex;
    align-items: center;
  }
  .subscribe-lesson {
    align-self: center;
    background: url("../../../assets/images/lesson/btn.png") no-repeat;
    background-color: $color-orange;
    @include border-radius;
    cursor: pointer;
    width: 432px;
    height: 216px;
    position: relative;
    box-shadow: $box-shadow-1;
    &::before {
      @include border-radius;
      @include absolute;
      width: inherit;
      height: inherit;
      background: $background-subscribe;
    }
    &__title {
      position: absolute;
      font-family: ProximaNova;
      font-size: 18px;
      @include line-height;
      text-transform: uppercase;
      color: $color-white;
      left: 70px;
      top: 35px;
    }
    &__button {
      border: none;
      @include color($color-white);
      position: absolute;
      color: $color-violet;
      margin: 110px 0 0 53px;
      cursor: pointer;
      &:hover {
        color: $color-white;
      }
      &:focus {
        outline: none;
      }
    }
  }
}
