// try
.try {
  &__content {
    background: url('../../../assets/images/try/bg.jpg') no-repeat top left;
    @include border-radius;
    box-shadow: $box-shadow-1;
    padding-bottom: 34px;
    background-color: $color-white;
  }
  &__row {
    display: flex;
    justify-content: space-between;
  }
  .column-qa {
    flex: 0 1 45%;
    margin: 90px 0 0 23%;
    font-size: 18px;
    font-family: 'ProximaNova',sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: $letter-spacing;
    @include line-height;
    &__q {
      color: $color-violet;
      position: relative;
      &::before {
        @include icon('../../../assets/images/try/quest.png', -5px);
      }
    }
    &__a {
      position: relative;
      margin: 46px 0 0 35px;
      color: $color-orange;
      background: rgba(255, 255, 255, 0.48);
      &::before {
        @include icon('../../../assets/images/try/check.png', 10px);
      }
    }
  }
  .column-about {
    flex: 0 1 39%;
    margin: 52px 23px 0 0;
    &__title {
      color: $color-orange;
      font-weight: normal;
      text-transform: uppercase;
      text-align: end;
      b {
        display: block;
        font-family: 'ProximaNova', sans-serif;
        font-weight: 700;
        @include line-height;
        color: $color-violet;
      }
    }
    &__text {
      font-size: 18px;
      @include line-height;
      color: $color-grey-text;
      text-align: end;
      font-family: 'ProximaNova', sans-serif;
      font-weight: 400;
      letter-spacing: $letter-spacing;
      margin-top: 20px;
    }
  }
  .button-try {
    margin: 58px 23px 0 0;
    text-align: end;
    &__link{
      @include color($color-orange);
    }
  }
}
