//position-absolute
@mixin absolute {
  position: absolute;
  display: block;
  content: "";
}
//display
@mixin dflexsbcenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin dflexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
//hover-effect
@mixin hover-effect {
    background: $color-background;
    cursor: pointer;
}
//border
@mixin border-radius {
  border-radius: 24px;
}