//position-absolute
@mixin absolute {
  position: absolute;
  display: block;
  content: "";
}
//display
@mixin dflexsbcenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin dflexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
//hover-effect
@mixin hover-effect {
  background: $color-background;
  cursor: pointer;
}
//border
@mixin border-radius {
  border-radius: 24px;
}
//line-height
@mixin line-height {
  line-height: 122.222222222%;
}
//icons
@mixin icon($url, $top) {
  @include absolute;
  width: 20px;
  height: 20px;
  top: $top;
  left: -30px;
  background: url($url) no-repeat center center;
  @include border-radius;
  background-color: $color-white;
  box-shadow: $box-shadow-icon;
}
//buttons-background-colors
@mixin color($color) {
  @if $color == $color-white{
    color: $color-black;
    background-color: $color;
  } @else{
    background-color: $color;
  }
  &:hover {
    @if $color == $color-violet {
      background-color: $color-violet-hover;
    } @else if $color == $color-orange {
      background-color: $color-red;
    } @else if $color == $color-white {
      background-color: $color-violet;
    } @else {
      @error "Unknown direction #{$color}.";
    }
  }
}
