.wrapper{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 100%;
}
._container{
    max-width: 1375px;
    padding: 0 15px;
    margin: 0 auto;
}
.main{
    margin-top: 80px;
    background: url('../../../assets/images/bg.png') no-repeat 64% 115%;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
