//Montserrat
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
}
@font-face {
  font-family: "ProximaNova-Regular", sans-serif;
  src: url("../../../fonts/ProximaNova-Regular.woff") format("woff");
}
@font-face {
  font-family: "ProximaNova-Bold", sans-serif;
  src: url("../../../fonts/ProximaNova-Bold.woff") format("woff");
}


body{
  font-family: Montserrat, sans-serif;
  font-size: 16px;
}
h1{
  font-size: 36px;
}