.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}

._container {
  max-width: 1375px;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  margin-top: 80px;
  background: url("../../../assets/images/bg.png") no-repeat 64% 115%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

ul,
ul > li {
  height: 100%;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* montserrat-regular */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Montserrat-Regular.ttf");
}
/* montserrat-500 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "ProximaNova";
  font-weight: 400;
  src: url("../../fonts/ProximaNova-Regular.woff") format("woff");
}
@font-face {
  font-family: "ProximaNova";
  font-weight: 700;
  src: url("../../fonts/ProximaNova-Bold.woff") format("woff");
}
body {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 18px;
}

.btn {
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  line-height: 122.222222222%;
  border-radius: 24px;
  padding: 15px 46px 11px 55px;
  transition: margin 0s, padding 0s, 0.4s ease;
}
.btn:hover {
  background-color: #fd3800;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal__content {
  align-self: center;
  background: url("../../../assets/images/lesson/modal.png") no-repeat;
  background-color: #fe805c;
  width: 432px;
  height: 348px;
  top: calc(50% - 216px);
  left: calc(50% - 174px);
  position: fixed;
  box-shadow: 1px 10px 10px rgba(102, 62, 51, 0.02), 10px 20px 20px rgba(102, 62, 51, 0.04), 20px 30px 30px rgba(102, 62, 51, 0.06), 55px 65px 44px rgba(197, 104, 78, 0.13);
  z-index: 1;
  border-radius: 24px;
}
.modal__content::before {
  position: absolute;
  display: block;
  content: "";
  width: inherit;
  height: inherit;
  background: linear-gradient(269.93deg, #fe805c 0.09%, rgba(254, 128, 92, 0) 99.97%);
  border-radius: 24px;
}
.modal__close {
  position: absolute;
  text-align: center;
  font-weight: bold;
  color: #fe805c;
  transform: rotate(45deg);
  width: 24px;
  height: 24px;
  top: 17px;
  right: 17px;
  background-color: #fef2ee;
  border-radius: 50%;
  cursor: pointer;
  z-index: 4;
}
.modal .form-modal {
  position: absolute;
  z-index: 3;
  text-align: center;
}
.modal .form-modal__title {
  margin-top: 31px;
  font-size: 36px;
  line-height: 122.222222222%;
  color: #fff;
  text-transform: uppercase;
}
.modal .form-modal__inputs {
  width: 66.6%;
  margin: 0 auto;
}
.modal .form-modal input {
  border: none;
  width: 100%;
  padding: 17px 60px 17px 31px;
  border-radius: 24px;
  line-height: 100%;
  margin-top: 13px;
}
.modal .form-modal input:focus {
  outline: none;
}
.modal .form-modal input::placeholder {
  font-family: ProximaNova;
  font-size: 16px;
  line-height: 100%;
}
.modal .form-modal input[type=submit] {
  background-color: #4643d3;
  padding: 13px 0;
  cursor: pointer;
}
.modal .form-modal input[type=submit]:hover {
  background-color: #0400cc;
}

.header {
  box-shadow: 1px 10px 10px rgba(102, 62, 51, 0.02), 10px 20px 20px rgba(102, 62, 51, 0.04), 20px 30px 30px rgba(102, 62, 51, 0.06), 55px 65px 44px rgba(197, 104, 78, 0.13);
  background: #fff;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  color: #fff;
}
.header .nav-header {
  flex: 0 1 64%;
  height: inherit;
}
.header .nav-header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "ProximaNova-Bold", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 122.222222222%;
}
.header .nav-header__item {
  display: inline-flex;
  align-items: center;
  padding: 0 62px;
  text-transform: uppercase;
  transition: 0.5s, padding 0s;
}
.header .nav-header__item:hover {
  background: #faefe3;
  cursor: pointer;
}
.header .nav-header__link {
  color: #0d006a;
}
.header .nav-header__link[href^="tel:"] {
  color: #0d006a;
  margin-left: 5px;
}

.try__content {
  background: url("../../../assets/images/try/bg.jpg") no-repeat top left;
  border-radius: 24px;
  box-shadow: 1px 10px 10px rgba(102, 62, 51, 0.02), 10px 20px 20px rgba(102, 62, 51, 0.04), 20px 30px 30px rgba(102, 62, 51, 0.06), 55px 65px 44px rgba(197, 104, 78, 0.13);
  padding-bottom: 34px;
  background-color: #fff;
}
.try__row {
  display: flex;
  justify-content: space-between;
}
.try .column-qa {
  flex: 0 1 45%;
  margin: 90px 0 0 23%;
  font-size: 18px;
  font-family: "ProximaNova", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  line-height: 122.222222222%;
}
.try .column-qa__q {
  color: #4643d3;
  position: relative;
}
.try .column-qa__q::before {
  position: absolute;
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  top: -5px;
  left: -30px;
  background: url("../../../assets/images/try/quest.png") no-repeat center center;
  border-radius: 24px;
  background-color: #fff;
  box-shadow: 1px 1px 1px rgba(102, 62, 51, 0.02), 1px 2px 2px rgba(102, 62, 51, 0.04), 2px 3px 3px rgba(102, 62, 51, 0.06), 5px 6px 4px rgba(197, 104, 78, 0.13);
}
.try .column-qa__a {
  position: relative;
  margin: 46px 0 0 35px;
  color: #fe805c;
  background: rgba(255, 255, 255, 0.48);
}
.try .column-qa__a::before {
  position: absolute;
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  top: 10px;
  left: -30px;
  background: url("../../../assets/images/try/check.png") no-repeat center center;
  border-radius: 24px;
  background-color: #fff;
  box-shadow: 1px 1px 1px rgba(102, 62, 51, 0.02), 1px 2px 2px rgba(102, 62, 51, 0.04), 2px 3px 3px rgba(102, 62, 51, 0.06), 5px 6px 4px rgba(197, 104, 78, 0.13);
}
.try .column-about {
  flex: 0 1 39%;
  margin: 52px 23px 0 0;
}
.try .column-about__title {
  color: #fe805c;
  font-weight: normal;
  text-transform: uppercase;
  text-align: end;
}
.try .column-about__title b {
  display: block;
  font-family: "ProximaNova", sans-serif;
  font-weight: 700;
  line-height: 122.222222222%;
  color: #4643d3;
}
.try .column-about__text {
  font-size: 18px;
  line-height: 122.222222222%;
  color: #443e3e;
  text-align: end;
  font-family: "ProximaNova", sans-serif;
  font-weight: 400;
  letter-spacing: 1.6px;
  margin-top: 20px;
}
.try .button-try {
  margin: 58px 23px 0 0;
  text-align: end;
}
.try .button-try__link {
  background-color: #fe805c;
}
.try .button-try__link:hover {
  background-color: #fd3800;
}

.features__content {
  margin-top: 77px;
}
.features .list-feature {
  counter-reset: num;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.features .list-feature__item {
  position: relative;
  list-style: none;
  flex: 0 0 313px;
  padding: 40px 8px 65px 25px;
  box-shadow: 1px 10px 10px rgba(102, 62, 51, 0.02), 10px 20px 20px rgba(102, 62, 51, 0.04), 20px 30px 30px rgba(102, 62, 51, 0.06), 55px 65px 44px rgba(197, 104, 78, 0.13);
  border-radius: 24px;
}
.features .list-feature__item::before {
  position: absolute;
  counter-increment: num;
  content: counter(num);
  top: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 120%;
  color: #fe805c;
  z-index: 1;
}
.features .list-feature__item:nth-child(1), .features .list-feature__item:nth-child(4) {
  background-color: #fff;
}
.features .list-feature__item:nth-child(2) {
  background-color: #4643d3;
}
.features .list-feature__item:nth-child(2) .list-feature__title, .features .list-feature__item:nth-child(2) .list-feature__text {
  color: #fff;
}
.features .list-feature__item:nth-child(3) {
  background-color: #fe805c;
}
.features .list-feature__item:nth-child(3) .list-feature__text {
  color: #fff;
}
.features .list-feature__item:nth-child(2)::before {
  left: 20px;
}
.features .list-feature__item:nth-child(3)::before {
  top: 8px;
  left: 16px;
  color: #4643d3;
}
.features .list-feature__item:nth-child(4)::before {
  top: 7px;
  left: 14px;
}
.features .list-feature__heading {
  display: flex;
  position: relative;
  height: 49px;
}
.features .list-feature__circle {
  width: 49px;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  background-color: #f5e3d6;
}
.features .list-feature__title {
  font-size: 18px;
  color: #0d006a;
  font-family: "ProximaNova", sans-serif;
  text-transform: uppercase;
  line-height: 122.222222222%;
  letter-spacing: 1.6px;
  margin-left: calc(49px + 15px);
}
.features .list-feature__text {
  margin-top: 39px;
  line-height: 140%;
  font-weight: 500;
  color: #afafbd;
}

.lesson__content {
  margin-top: 80px;
  margin-left: 34px;
  color: #0d006a;
  display: flex;
  justify-content: space-between;
}
.lesson__title {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 122.222222222%;
  letter-spacing: 1.6px;
}
.lesson__advantages {
  margin-top: 18px;
}
.lesson .minus-lesson__item {
  position: relative;
}
.lesson .minus-lesson__item::before {
  position: absolute;
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  left: -34px;
  content: "-";
  text-align: center;
  box-shadow: 1px 1px 1px rgba(102, 62, 51, 0.02), 1px 2px 2px rgba(102, 62, 51, 0.04), 2px 3px 3px rgba(102, 62, 51, 0.06), 5px 6px 4px rgba(197, 104, 78, 0.13);
  border-radius: 50%;
}
.lesson .plus-lesson {
  margin-top: 20px;
}
.lesson .plus-lesson__item {
  position: relative;
}
.lesson .plus-lesson__item::before {
  position: absolute;
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  left: -34px;
  content: "+";
  text-align: center;
  box-shadow: 1px 1px 1px rgba(102, 62, 51, 0.02), 1px 2px 2px rgba(102, 62, 51, 0.04), 2px 3px 3px rgba(102, 62, 51, 0.06), 5px 6px 4px rgba(197, 104, 78, 0.13);
  border-radius: 50%;
  color: #fe805c;
}
.lesson .lesson__column:nth-child(2) {
  display: flex;
  align-items: center;
}
.lesson .subscribe-lesson {
  align-self: center;
  background: url("../../../assets/images/lesson/btn.png") no-repeat;
  background-color: #fe805c;
  border-radius: 24px;
  cursor: pointer;
  width: 432px;
  height: 216px;
  position: relative;
  box-shadow: 1px 10px 10px rgba(102, 62, 51, 0.02), 10px 20px 20px rgba(102, 62, 51, 0.04), 20px 30px 30px rgba(102, 62, 51, 0.06), 55px 65px 44px rgba(197, 104, 78, 0.13);
}
.lesson .subscribe-lesson::before {
  border-radius: 24px;
  position: absolute;
  display: block;
  content: "";
  width: inherit;
  height: inherit;
  background: linear-gradient(269.93deg, #fe805c 0.09%, rgba(254, 128, 92, 0) 99.97%);
}
.lesson .subscribe-lesson__title {
  position: absolute;
  font-family: ProximaNova;
  font-size: 18px;
  line-height: 122.222222222%;
  text-transform: uppercase;
  color: #fff;
  left: 70px;
  top: 35px;
}
.lesson .subscribe-lesson__button {
  border: none;
  color: #000;
  background-color: #fff;
  position: absolute;
  color: #4643d3;
  margin: 110px 0 0 53px;
  cursor: pointer;
}
.lesson .subscribe-lesson__button:hover {
  background-color: #4643d3;
}
.lesson .subscribe-lesson__button:hover {
  color: #fff;
}
.lesson .subscribe-lesson__button:focus {
  outline: none;
}

.price__content {
  padding: 80px 0;
}
.price__heading {
  text-align: center;
}
.price__title {
  text-transform: uppercase;
  font-size: 36px;
  line-height: 122.222222222%;
  color: #4643d3;
  font-family: "ProximaNova", sans-serif;
}
.price .lesson-price {
  display: flex;
  justify-content: center;
  margin-top: 37px;
  text-transform: uppercase;
  font-family: "ProximaNova", sans-serif;
  color: #fff;
}
.price .lesson-price__60, .price .lesson-price__90 {
  flex: 0 0 312px;
  border-radius: 24px;
  text-align: center;
  padding: 23px 45px 39px 38px;
  box-shadow: 1px 10px 10px rgba(51, 62, 102, 0.02), 10px 20px 20px rgba(51, 68, 102, 0.04), 20px 30px 30px rgba(51, 68, 102, 0.06), 55px 65px 44px rgba(78, 125, 197, 0.13);
}
.price .lesson-price__60 {
  background-color: #4643d3;
}
.price .lesson-price__60 .lesson-price__time {
  background-color: #5856d7;
}
.price .lesson-price__60 .lesson-price__button {
  background-color: #fe805c;
}
.price .lesson-price__60 .lesson-price__button:hover {
  background-color: #fd3800;
}
.price .lesson-price__90 {
  background-color: #fe805c;
  margin-left: 32px;
}
.price .lesson-price__90 .lesson-price__time {
  background-color: #fff;
  color: #fe805c;
}
.price .lesson-price__90 .lesson-price__button {
  background-color: #4643d3;
}
.price .lesson-price__90 .lesson-price__button:hover {
  background-color: #0400cc;
}
.price .lesson-price__time {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
}
.price .lesson-price__min {
  font-size: 18px;
  line-height: 100%;
}
.price .lesson-price__count {
  display: block;
  font-size: 48px;
  line-height: 100%;
}
.price .lesson-price__title {
  font-size: 18px;
  letter-spacing: 1.6px;
}
.price .lesson-price__cost {
  font-size: 42px;
  line-height: 122.222222222%;
  font-weight: bold;
  letter-spacing: 1px;
}
.price .lesson-price__button {
  display: block;
  margin-top: 10px;
  padding: 13px 31px;
  font-size: 18px;
  line-height: 122.222222222%;
  letter-spacing: 1.6px;
}

.footer {
  background-color: #4643d3;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  padding: 22px 0;
}
.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
}
.footer__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .socials-footer__list,
.footer .callback-footer__list {
  display: flex;
  justify-content: space-between;
}
.footer .socials-footer__list {
  width: 144px;
}
.footer .socials-footer__item {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.footer .socials-footer__item-vk {
  background: #7294c7;
}
.footer .socials-footer__item-instagram {
  background: linear-gradient(43.94deg, #eea054 16.16%, #d64763 50.11%, #b62a99 83.68%);
}
.footer .socials-footer__item-skype {
  background: #00a9e7;
}
.footer .callback-footer {
  font-family: ProximaNova;
  font-size: 18px;
  text-transform: uppercase;
  flex: 0 1 54%;
}
.footer .callback-footer__phone, .footer .callback-footer__mail {
  margin-left: 10px;
  color: #fff;
}
.footer .callback-footer__phone {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.footer .callback-footer__item {
  display: flex;
  align-items: center;
}
.footer .copyright-footer {
  margin-top: 23px;
  text-align: center;
  font-family: ProximaNova;
  color: #fff;
  justify-content: space-between;
  width: 146%;
}
.footer .copyright-footer a {
  color: inherit;
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {
  body {
    background-color: #faefe3;
  }

  .lesson .minus-lesson__item::before {
    background-color: #fff;
  }
  .lesson .plus-lesson__item::before {
    background-color: #fff;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1439px) {
  body {
    background-color: #fff;
  }

  .header .logo-header__img {
    max-width: 216px;
  }
  .header .nav-header__item {
    padding: 0 40px;
  }

  .main {
    background-position-x: 100%;
  }

  .try .column-qa {
    flex: 0 1 43%;
    margin: 90px 0 0 24%;
  }
  .try .column-qa__a {
    margin: 46px 0 0 0;
  }
  .try .column-about {
    flex: 0 1 39%;
  }

  .features .list-feature {
    justify-content: center;
  }
  .features .list-feature__item:nth-child(even) {
    margin-left: 28px;
  }
  .features .list-feature__item:nth-child(n+2) {
    margin-top: 28px;
  }

  .footer .copyright-footer {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  body {
    background-color: #fff;
  }

  .header .logo-header__img {
    max-width: 192px;
  }
  .header .nav-header__item {
    padding: 0 15px;
  }

  .main {
    background-position-x: 100%;
  }

  .try__content {
    background: url(../../../assets/images/media/try-bg.jpg) no-repeat left center;
  }
  .try__row {
    flex-direction: column;
  }
  .try .column-qa {
    margin: 45px 0 0 47%;
  }
  .try .column-qa__q:before {
    top: 10px;
  }
  .try .column-qa__a {
    margin: 46px 0 0 0;
  }
  .try .column-qa__a::before {
    top: 20px;
  }
  .try .column-about {
    margin: 25px 23px 0 0;
  }
  .try .column-about__text {
    margin-left: 50%;
    margin-top: 0;
  }
  .try .button-try {
    margin: 40px 23px 0 0;
  }

  .features .list-feature {
    justify-content: center;
  }
  .features .list-feature__item:nth-child(even) {
    margin-left: 28px;
  }
  .features .list-feature__item:nth-child(n+2) {
    margin-top: 28px;
  }

  .lesson__content {
    flex-direction: column;
    margin-left: 19%;
  }
  .lesson .subscribe-lesson {
    margin-top: 70px;
  }

  .footer .copyright-footer {
    font-size: 14px;
    flex-direction: column;
    flex-direction: column-reverse;
  }
  .footer .callback-footer__list {
    flex-direction: column;
  }
}
@media screen and (min-width: 411px) and (max-width: 767px) {
  body {
    background-color: #fff;
  }

  .header .logo-header__img {
    max-width: 192px;
  }
  .header .nav-header__item:not(:nth-child(2)) {
    display: none;
  }

  .main {
    background-position-x: 100%;
  }

  .try__content {
    background: url(../../../assets/images/media/try-411bg.jpg) no-repeat left center;
  }
  .try__row {
    flex-direction: column;
  }
  .try .column-qa {
    margin: 45px 0 0 47%;
  }
  .try .column-qa__q:before {
    top: 10px;
  }
  .try .column-qa__a {
    margin: 46px 0 0 0;
  }
  .try .column-qa__a::before {
    top: 20px;
  }
  .try .column-about {
    margin: 25px 23px 0 0;
  }
  .try .column-about__text {
    margin-left: 50%;
    margin-top: 0;
  }
  .try .button-try {
    margin: 40px 23px 0 0;
  }

  .features .list-feature {
    justify-content: center;
  }
  .features .list-feature__item {
    margin-left: 0;
  }
  .features .list-feature__item:nth-child(n+1) {
    margin-top: 28px;
  }

  .lesson__content {
    flex-direction: column;
    margin-left: 19%;
  }
  .lesson .subscribe-lesson {
    margin-top: 70px;
  }

  .footer .copyright-footer {
    font-size: 14px;
    flex-direction: column;
    flex-direction: column-reverse;
  }
  .footer .callback-footer__list {
    flex-direction: column;
  }
}
@media screen and (max-width: 320px) {
  ._container {
    padding: 0 5px;
  }

  .header .logo-header__img {
    max-width: 102px;
  }
  .header .nav-header__item:not(:nth-child(2)) {
    display: none;
  }

  .try__content {
    background-position-x: -70px;
  }
  .try__row {
    flex-direction: column;
    background: rgba(255, 255, 255, 0.48);
  }
  .try .column-qa {
    margin: 0 0 0 72px;
    padding-top: 50px;
    font-size: 14px;
  }
  .try .column-qa__a {
    margin: 35px 0 0 0;
    background: none;
  }
  .try .column-about {
    margin: 14px 23px 0 0;
  }
  .try .column-about__title {
    font-size: 34px;
    letter-spacing: 1px;
  }
  .try .column-about__text {
    margin-top: 35px;
  }
  .try .button-try {
    text-align: center;
    margin: 20px 0 0 0;
  }
  .try .button-try__link {
    padding: 10px 15px;
    letter-spacing: 1.6px;
  }

  .features .list-feature__item:not(:nth-child(1)) {
    margin-top: 50px;
  }

  .lesson__content {
    flex-direction: column;
    margin-left: 0;
  }
  .lesson__column:nth-child(1) {
    margin-left: 34px;
  }
  .lesson .subscribe-lesson {
    width: 310px;
    margin-top: 30px;
  }
  .lesson .subscribe-lesson__title {
    font-size: 16px;
    font-weight: normal;
    left: 40px;
  }
  .lesson .subscribe-lesson__button {
    margin: 110px 0 0 23px;
  }

  .btn {
    font-size: 14px;
  }

  .modal__content {
    width: 320px;
    left: calc(50% - 160px);
  }
  .modal .form-modal__title {
    font-size: 26px;
    margin-top: 45px;
  }

  .price__title {
    font-size: 24px;
  }
  .price .lesson-price {
    flex-direction: column;
  }
  .price .lesson-price__90 {
    margin-left: 0;
    margin-top: 50px;
  }

  .footer__contacts {
    flex-direction: column;
  }
  .footer .callback-footer {
    margin: 10px 0 0 37px;
  }
  .footer .callback-footer__list {
    flex-direction: column;
  }
}

/*# sourceMappingURL=main.css.map */
